body {
    background: url("sunset_background.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h5 {
    text-align: center;
}

.player {
    display: flex;
    width: 10em;
    height: 2.5em;
    justify-content: space-evenly;
}
